*.large_file_extension filter=lfs diff=lfs merge=lfs -text
Project-V_Regression_Task/data/train.csv filter=lfs diff=lfs merge=lfs -text
Project-V_Regression_Task/data/osrm_data_train.csv filter=lfs diff=lfs merge=lfs -text
